*{
    box-sizing: border-box;
    font-family:sans-serif;
}
body {
    margin: 0;
    border: 0;
    background-color: #fff;
}
.header-container{
    display: flex;
    justify-content: center;
}
.openning-remark{
    background-image: url('images/bgimg.jpeg');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100px;
    display: flex;
    color:#FFf;
    text-shadow: 2px 0 rgb(82, 77, 77);
    font-size: 18px;
    font-weight: bold;
    padding: 2%;
}

img{
padding:2%;
width: 100px;
position: absolute;
top:70px;
right:5px;
}

/* header section end here */
/* form styling starts */
h1{
    line-height: 25px;
}
form{
    margin-top: 40px;
}

h1, h2{
    color:#800000;
    font-size: 22px;
    font-family: 'Lobster', cursive;
}
.fullname,.subject{
    width:80%;
    border-bottom: 1px solid dodgerblue;
    font-size: 15px;
}

input{
    outline-style: none;
    border:none;
}

.body-area{
    padding: 7%;
}

#sub-body , textarea{
    outline-style: none;
    width:100%;
    height: 80px;
    border-radius: 5%;
    border:1px solid dodgerblue;
    font-style: italic;
}
#submit{
    margin-top:10px;
    font-size: 18px;
    color:#fff;
    width:100px;
    height:40px;
    border:0.9 solid dodgerblue;
    outline-style: none;
    background-color: gold;
}

#submit:hover{
    background-color:#778899;
} 


fieldset{
    margin-top: 30px; 
    width:100%;
    height: auto;
}

@media screen and (min-width: 500px){
    .header-container{
    position: relative;
    display: flex;
    }
    img{
    position: relative;
    top: 0;
    left: 0;
    }
    .openning-remark{
        text-transform: uppercase;
        font-size: 20px;
        line-height: 25px;
        background-color: black;
        opacity: 1px;
    }

.body-area{
display:flex;
}
#Data{
    width: 50%;
}
.output-container{
    width: 50%;
    padding: 7%;

}
}