* {
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background: #eee;
  font-family: "Roboto";
  margin: 0;
  border: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
nav h1 {
  margin: 0;
}
nav a {
  height: 2.4rem;
  color: #fff;
  text-decoration: none;
  background: #36cca2;
  padding: 10px;
  border-radius: 10px;
}

img {
  padding: 2%;
  width: 100px;
  position: absolute;
  top: 70px;
  right: 5px;
  border: 1px solid #36cca2;
  box-shadow: 2px 2px 15px 0 rgb(135 135 135 / 40%);
}

/* header section end here */
main {
  margin-top: 0;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-area {
  background-image: linear-gradient(
      to right bottom,
      rgba(19, 31, 17, 0.8),
      rgba(37, 46, 43, 0.8)
    ),
    url("./images/homebg.jpeg");

  border-radius: 10px;
  width: 45%;
  min-height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form {
  margin: 10px auto;
  border-radius: 10px;
  background: #fff;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#Data h1 {
  color: #1d1b1bdd;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}
#Data h2 {
  color: #1d1b1bdd;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
form input {
  display: block;
  margin-top: 10px;
  width: 80%;
  padding: 10px;
  outline: none;
  border: 1px solid #eeeeee;
  background-color: #eee;
}

input#submit {
  background-color: #36cca2;
  margin-bottom: 1rem;
  color: #fff;
}
input#submit:active {
  transform: scale(0.98);
}

textarea {
  width: 80%;
  min-height: 50px;
  border: 1px solid #eeeeee;
  background-color: #eee;
}

.message {
  padding: 10px;
  border-radius: 10px;
  margin: 0 0 10px 10px;
  height: 550px;
  width: 50%;

  overflow-y: scroll;
}
.output-container {
  background-color: #fff;
  min-width: 100%;

  color: #000000;
  padding: 10px;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  overflow: hidden;
}
.output-heading {
  text-align: center;
  text-decoration: underline;
}

#thanks-remark {
  width: 80%;
  padding: 15px;
  background-color: #fff;
  margin: 20px auto;
}

.form-hiden {
  display: none;
}
#thanks-remark a {
  background-color: #36cca2;
  color: #fff;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  width: 200px !important;
}
small {
  font-weight: lighter;
  color: #36cca2;
}
.author {
  text-align: center;
  font-size: 12px;
  margin: 1rem;
}
.h1 {
  width: 50%;
  font-size: 30px;
  padding: 10px;
  background-color: #36cca2;
  color: #fff;
}
.backbtn {
  text-decoration: none;
}

@media screen and (min-width: 700px) {
  .header-container {
    position: relative;
    display: flex;
  }
  img {
    position: relative;
    top: 0;
    left: 0;
  }
  .openning-remark {
    text-transform: uppercase;
    font-size: 20px;
    line-height: 25px;
    opacity: 1px;
  }

  main {
    display: flex;
  }
  form h2 {
    text-align: center;
  }

  .output-container {
    width: 50%;
    padding: 7%;
  }

  h1,
  h2 {
    font-size: 25px;
    line-height: 40px;
  }
  .output-container {
    width: 50%;
    padding: 7%;
  }
}

@media screen and (max-width: 600px) {
  main {
    display: block;
  }
  h1,
  .h1 {
    font-size: 20px;
  }
  .form-area {
    width: 100%;
  }
  form {
    width: 90%;
    height: auto;
    font-size: 18px;
  }
  #thanks-remark {
    font-size: 18px;
    width: 90%;
    height: auto;
  }
  .message {
    width: 100%;
    margin: 10px 0 0 0;
    overflow-y: scroll;
    height: 300px;
  }
  img {
    display: none;
  }
}
